/* main.css: afable 2016 */

/* bkg color during transitions */
body {
	background-color: #aaa !important;
}


/* ========================================================================= */
/* ========================= Global Helper Styles ========================== */
/* ========================================================================= */
/* center elements such as header nav buttons and footer */
.center {
	text-align: center;
	margin: 0 auto;
}

/* set image to fit landscape or portrait sizes (for orientation changes) */
img.landscape { width: 80vh; height: 80vh; }
img.portrait {	width: 80vw; height: 80vw; }

/* make img elements unselectable/undraggable */
img.unselectable {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


/* ========================================================================= */
/* ====================== Navigation Header & Buttons ====================== */
/* ========================================================================= */
.nav {
	background-color: #aaa;
}
.nav-container {
	overflow: hidden;
}
/* nav img */
.nav-container img {
	min-width: 100%;
	height: 11vh;	
	min-height: 40px;
}
.ui-page-active .ui-btn-active img {
	opacity: 0.5;
}
/* nav button sizes fixed on top */
.nav-button {
	height: 11vh;
	min-height: 40px;
	border-radius: 0 !important;
	margin: 0;
	padding: 0;
}
/* handle nav-button-widths to fit the screen perfectly on various viewports */
@media all and (min-width: 360px) {	.nav-button { width: 10.5vw; } }
@media all and (min-width: 640px) { .nav-button { width: 10.8vw; } }
@media all and (min-width: 943px) { .nav-button { width: 10.9vw; } }


/* ========================================================================= */
/* ========================= Main Content Section ========================== */
/* ========================================================================= */
/* main  wrapper for each page should be full device height */
.main {
	height: 100vh !important;
	background-color: #aaa;
}

/* main polaroid section that has img inside */
.polaroid {
	background-color: #fafafa;
	margin: 16vh auto 0;
	min-width: 320px;
	width: 50vw;
	min-height: 250px;
	height: 66vh;
	border-radius: 1%;
	/* box-shadow */
	-webkit-box-shadow: 3px 6px 11px 0px #000;
	-moz-box-shadow: 3px 6px 11px 0px #000;
	box-shadow: 3px 6px 11px 0px #000;
}
/* container for overflow: hidden on greyscale photo */
.polaroid-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 5%;
	width: 90%;
	height: 70%;
}
/* greyscale photo section of polaroid */
.polaroid img {
	position: relative;
	width: 90%;
	height: 70%;
	min-width: 100%;
	min-height: 100%;
	border-radius: 2%;
}
/* div container to use display: table/table-cell to veritically center p */
.caption-container {
	display: table;
	/*background-color: #f00;*/
	height: 25%;
}
/* polaroid caption underneath greyscale photo */
.polaroid p {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	text-align: center;
	font-family: "Reenie Beanie", "Nothing You Could Do";
	font-size: 2em;
	color: #888;
	text-shadow: 0px 0px 1px #888;
	line-height: 100%;
}
/* for some reason, when JQM appends the popup elements (placeholders are placed
   in place of where you put the popup div) they're stuck with opacity: 0 */
.ui-popup img {
	opacity: 1 !important;
	max-width: 90vw;
	max-height: 90vh;
}


/* ========================================================================= */
/* ============================ Footer Section ============================= */
/* ========================================================================= */
div.footer {
	display: table;
	margin: 0;
	padding: 0;
	height: 40px;
}
footer {
	display: table-cell;
	vertical-align: middle;
}
footer p {
	font-family: monospace;
	font-size: 1em;
	margin: 0;
	padding: 0;
}



